*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    margin: 0 ,auto;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow:0 1px 3px -2px black ;
    background-color:darkgray;
}
.nav-logo{
    display:flex;
    align-items: center;
    gap:5px
}
.nav-menu {
    
    display: flex;
   align-items: center;
    gap:20px;
    list-style: none;
    color:#574dda;
}
.nav-menu :hover{
    color: aqua;
}
.nav-menu hr{
   border: none;
   height: 3px;
   border-radius: 10px;
   background: #4109c2;
   
}
.nav-menu a{
    text-decoration: none;
}
.menu-icon{
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .nav-menu{
        display: none;
    }
    .menu-icon{
        display: flex;
        align-items: center;
    }
}