.destop-navbar {
  height:75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
}

.sidenav a {
  text-decoration: none;
}
.desktop-nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #121010;
  display: block;
  transition: 0.3s;
}
.desktop-nav-menu {
  display: flex;

}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-icon {
  font-size: 2.8rem;
}
.mobile-nav-item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
input {
  display: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

label,
p {
  color: black;
  font-size: 3rem;
}
#check:checked ~ .sidenav {
  width: 250px;
}

.ss {
  color: wheat;
  display: flex;
  justify-content: flex-end;
}
.tt {
  display: none;
}

@media only screen and (max-width: 760px) {
  .tt {
    display: flex;
    justify-content: flex-end;
  }
  .desktop-nav-menu {
    display: none;
  }
}
