.header {
  margin: 0, auto;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  background-color: darkgray;
  align-items: center;
}

.checkbox1 {
  display: none;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 1.5rem;
}
#check:checked ~ .mobile-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color:rgb(17, 229, 151);
  align-items: center;
}
#check2:checked ~ p{
  display: none;
}

.mobile-menu {
  display: none;
}
label {
  font-size: 26px;
  color: black;
  display: none;
}
@media only screen and (max-width: 760px) {
    body {
      background-color: lightblue;
    }
    label {
        font-size: 26px;
        color: black;
        display: inline-block;
      }
      .nav-menu{display:none}
    
  }
 