.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;

    align-items: center;
 }