.features {
    background-color: #e8eaf6;
    padding: 60px 45px;
  }
  .feature-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap:45px;
    grid-row-gap:45px;
  }